
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
body,html{
    height: 100%;
    overflow: hidden;
}
.hdself{
    text-align: center;
    width: 100%;
    height: 100px;
    line-height:100px;
    }
.sectionhd {

    /*width: 1200px;*/
    height: 100%;
    background: url(../images/bg_02.jpg) center no-repeat;
    background-size: 100% 100%;
}
.hdcen{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /*padding-top: 50px;*/
}
.map {
    width: 600px;
    height: 528px;
    background: url(../images/map.png) no-repeat;
    position: absolute;
    left: -15%;
    top: 100px  ;
    /*margin-top: -140px*/
}

.map ins {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/point.png);
    background-size: 100% 100%;
    position: absolute;
    top: 190px;
    left: 430px
}

.line {
    width: 30px;
    height: 20px;
    position: absolute;
    left: 437px;
    bottom:330px;

}

.msg {
    width: 5px;
    height: 5px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    overflow: hidden;
    left: 765px;
    top: -60px;
    color: #333;
    line-height: 26px;
    opacity: 0
}

.msg p {
    /*opacity: 0;*/
    width: 220px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    white-space: nowrap
}

.hdcase{
   
    position: relative;
    float: right;
    /*left: 800px;*/
    /*margin-top: 100px;*/
}
.hdcase ul{
    opacity: 0;

}
.hdcase li{
    width: 234px;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
}
.hdcase li a {
    display: block;
    width: 194px;
    height: 110px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 102, 153, 0.6);
    color: #f9fffd;
    text-decoration:none;

    opacity: 0;
}
.hdcase li:hover a {
    top: 0;
    opacity: 1;
}