
*{
    margin: 0;
    padding: 0;
}

.hdmain{
    margin: 0 auto;
    height: 500px;

}
.center{
    margin: 0 auto;
    width: 1200px;
    height: 500px;
    position: relative;

    background: url("../images/0947494.fw.png") no-repeat center;
}
.cover{
    width: 1200px;
    height: 500px;
    background-color: black;
    opacity: 0.8;
    position: relative;
    border-top: 1px solid;
    top: 0;
}
.control{
    width: 200px;
    height:100px;
    margin: 30px;
    text-align: center;
    background-image: url("../images/hd1.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;

}
.step1{
    width: 40px;
    height: 57px;
    background:url("../images/sprite.fw.png") -4px -1px;

    position: absolute;
    left:42px;
    top: 217px;
    display: none;
    /*opacity: 0;*/
}
.step2{
    width: 140px;
    height: 47px;
    background:url("../images/sprite.fw.png") -195px -3px;
    position: absolute;
    left: 251px;
    top: 224px;
    display: none;
    /*opacity: 0;*/
}
.step3{
    width: 115px;
    height: 46px;
    background:url("../images/sprite.fw.png") -202px -57px;
    position: absolute;
    left: 494px;
    top: 220px;
    display: none;
    /*opacity: 0;*/
}
.step4{
    width: 81px;
    height: 60px;
    background:url("../images/sprite.fw.png") -8px -124px;
    position: absolute;
    left:680px;
    top: 214px;
    display: none;
    /*opacity: 0;*/
}
.step5{
    width: 100px;
    height: 60px;
    background:url("../images/sprite.fw.png") -7px -63px;
    position: absolute;
    left: 662px;
    top: 99px;
    display: none;
    /*opacity: 0;*/
}
.step6{
    width: 80px;
    height: 60px;
    background:url("../images/sprite.fw.png") -6px -190px;
    position: absolute;
    left: 823px;
    top: 144px;
    display: none;
    /*opacity: 0;*/
}
.step7{
    width: 80px;
    height:60px;
    background:url("../images/sprite.fw.png") -202px -112px;
    position: absolute;
    left: 828px;
    top:261px;
    display: none;
    /*opacity: 0;*/
}
.step8{
    width: 78px;
    height:59px;
    background:url("../images/sprite.fw.png") -95px -131px;
    position: absolute;
    left: 957px;
    top:263px;
    display: none;
    /*opacity: 0;*/
}
.step9{
    width: 78px;
    height:58px;
    background:url("../images/sprite.fw.png") -286px -114px;
    position: absolute;
    left: 951px;
    top:148px;
    display: none;
    /*opacity: 0;*/
}
.step10{
    width: 78px;
    height:59px;
    background:url("../images/sprite.fw.png") -95px -196px;
    position: absolute;
    left: 1070px;
    top:144px;
    display: none;
    /*opacity: 0;*/
}
.step11{
    width: 77px;
    height:59px;
    background:url("../images/sprite.fw.png") -115px -68px;
    position: absolute;
    left: 1076px;
    top:260px;
    display: none;
    /*opacity: 0;*/
}
.step12{
    width: 78px;
    height:59px;
    background:url("../images/sprite.fw.png") -189px -196px;
    position: absolute;
    left: 1081px;
    top:370px;
    display: none;
    /*opacity: 0;*/
}

