/*
* @Author: HuangD
* @Date:   2015-5-28 21:11:09
* @Last Modified by:   HuangD
*/
.fl{
	float: left;
}
.fr{
	float: right;
}

.top{
	width: 100%;
	height: 30px;
	background-color:#E9ECEF;
}
.top .topnav{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	font-size: 12px;

}
.topnav li{
	padding: 10px;
	float: left;
}

